/* Font Family
font-family: 'Montserrat', sans-serif;
font-family: 'Numans', sans-serif; */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

/* Navbar */
.navbar {  
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 0;
}

.bg-dark {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-dark.scrolled {
    background: #0000 !important;
}
.navbar-brand {
    color: aliceblue;
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 40px;
}

.nav-item { 
    padding: 0 25px;
}

.nav-link {
    color: aliceblue;
    font-size: 1.56rem;
}

li:hover {
    text-decoration: underline;
}

#navbarNavAltMarkup {
    padding-right: 40px;
}

.navbar-toggler {
    background-color: aliceblue;
    margin-right: 20px;
}

/* Title */

.container {
    position: relative;
    text-align: center;
   
}

.main-img {
    display: block;
    width: 100%;
}

.main-text {
    position: absolute;
    color: aliceblue;
    top: 35%;
    left: 50px;
}

.petme {
    font-weight: bold;
}

.highlight-1 {
   
    text-decoration: underline;
}

/* Main Body */
h2 {
    text-align: center;
    padding-bottom: 5%;
}

#features {
    position: relative;
    padding: 7%  15%;
    background-color: #fff;
    z-index: 1;
}

.features-img {
    width: 200px;
    height: 200px;
}

.feature-box {
    text-align: center;
    padding: 5%;
}



#testimonials {
  
    text-align: center;
    background-color: #40514E;
    color: #fff;

}

.test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}



#footer {
    padding: 7% 15% 0% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

.pp {
    color: black;
    text-decoration: none;
}







@media (max-width: 480px) {

    .navbar-brand {
        color: aliceblue;
        font-family: 'Acme', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        padding-left: 20px;
    }
    
    .main-img {
        padding-top: 70px;
        background-color: black;
    }

    .main-text {
        font-size: 18px;
        top: 20%;
        left: 8%;
    }
}